@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  boz-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #000;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline {
  margin: 20px;
  color: white;
  font-size: 32px;
  text-align: center;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
}
.headline h3 {
  letter-spacing: 1.6px;
  font-weight: 300;
  color: white;
}
.headline h2 {
  letter-spacing: 1.6px;
  font-weight: 300;
  color: white;
}
a {
  letter-spacing: 1.6px;
  font-weight: 300;
  color: white;
}

.twitterLink {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 15px;
  z-index: 3;
}
.twitterLink svg {
  width: 25px;
}
